@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
}

.app {
  max-width: 1200px;
  margin: auto;
}

.header {
  background-color: aqua;
}

.title {
  margin: 0px;
  text-align: center;
}

.page-content {
  display: flex;
}

.nav {
  width: 25%;
  background-color: #ff8000;
}

.card {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 10px;
}